{% extends 'layout.html' %}
{% block body %}
<h1>Contact</h1>
    {% if error %}<div class="error">{{ error }}</div>{% endif %}
    <div id="contact">
    <h4>If you have a question about using antiSMASH, or want to report a possible bug, you can contact us with this form.</h4>
    <form action="{{ url_for('contact') }}" method="POST">
      <div>
        <label for="email">Your email address:</label><br />
        <input type="text" name="email" id="email" value="{{ email }}" size="30">
      </div>
      <div>
        <label for="body">Your message:</label><br />
        <textarea name="body" id="body" cols="70" rows="5">{{ message }}</textarea>
      </div>
      <div><button type="submit">Send message</button></div>
    </form>
    <br />Or ask on Twitter:
    <a href="http://twitter.com/share" class="twitter-share-button" data-text="@antiSMASH_help " data-count="none">ask question on Twitter</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script><br />
    </div>
{% endblock %}
