{% extends 'layout.html' %}

{% block extra_headers %}
{% if job.get_short_status() == "done" %}
    <meta http-equiv="refresh" content="10; url={{ results_path }}/{{ job.uid }}/display.xhtml">
{% elif job.get_short_status() == "failed" %}
    <!-- Job failed -->
{% else %}
    <meta http-equiv="refresh" content="20">
{% endif -%}
{% include 'server_status_js.html' %}
{% endblock %}

{% block body %}
<h2>Status of job {{ job.filename }} analysis</h2>
<p>Submitted: {{ job.added.strftime('%Y-%m-%d %H:%M:%S') }}<br />
   Status: <span id="status">{{ job.get_status() }}
     <img src="{{ url_for('static', filename=job.get_short_status()+'.gif')}}"></span><br />
   Last status change at: {{ job.last_changed.strftime('%Y-%m-%d %H:%M:%S') }}<br />
</p>
{% if job.get_short_status() == "done" %}<p>See the <a href="{{ results_path }}/{{ job.uid }}/display.xhtml">results</a>{% endif -%}
<p><b>Important:</b> If you did not provide an email address, please bookmark this page so you can access your antiSMASH results later.
<p>If you specified an email address on the job submission page, you will be notified by email once the job is complete.</p>
<p>Running antiSMASH on a complete genome will take a couple of hours, and depending on the server load it will
   take a while for your job to start.
   Currently, the server is <span id="server_status">in an unknown status</span>
   with <span id="queue_length">-1</span> job(s) in the work queue.
</p>
{% endblock %}
