{% extends 'layout.html' %}

{% block body %}
      <h1>antiSMASH stand-alone</h1>

      <div id="about">
      <h2>Download antiSMASH</h2>
    <p>
        The current version of antiSMASH is 1.2.2 (June 22nd, 2012).
        <br><br>
		<h4>WindowsXP/Vista/7</h4>
		<a href="http://redmine.secondarymetabolites.org/attachments/download/49/antiSMASH-1.2.2.win32.exe">antiSMASH v1.2.2 installer package</a><br><br>
		To be able to run antiSMASH on Windows, you will also need to install the following packages:<br>
		- <a href="http://www.microsoft.com/downloads/en/details.aspx?FamilyID=9b2da534-3e03-4391-8a4d-074b9f2bc1bf&displaylang=en" target="_blank">Microsoft Visual C++ 2008 Redistributable Package</a><br>
		- <a href="http://www.java.com/en/download/index.jsp" target="_blank">Java</a><br>
    </p>

    <p>
		<h4>Ubuntu Linux</h4>
		<a href="http://redmine.secondarymetabolites.org/attachments/download/43/install_ubuntu.sh">antiSMASH v1.2 installer script</a>
    </p>

    <p>
        <h4>Max OS X</h4>
        <a href="http://redmine.secondarymetabolites.org/attachments/download/50/antiSMASH-1.2.2.macosx.dmg">antiSMASH v1.2.2 installer package; </a><br><br>
        To be able to run antiSMASH on Mac OS X, you will also need to install Cairo:<br>
        - Install <a href="http://www.macports.org/install.php" target="_blank">MacPorts</a>; then type 'sudo port install cairo' in the terminal.<br>
        - Install <a href="http://www.finkproject.org/download/index.php?phpLang=en" target="_blank">Fink</a>; then type 'sudo apt-get install cairo' in the terminal.<br>
    </p>


    <p>
        <h4>We also provide some scripts that can aid in using antiSMASH:</h4>
        <a href="http://redmine.secondarymetabolites.org/attachments/download/34/format_embl.zip">format_embl</a> Script for preparing an EMBL file from a TXT file with gene annotations and a DNA sequence in FASTA format<br>
        <a href="http://redmine.secondarymetabolites.org/attachments/download/51/batch_antismash.zip">batch_antismash</a> Script for batch-processing multiple files in the stand-alone version
    </p>


    </div>
{% endblock %}
