<!DOCTYPE html>
<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>antiSMASH: antibiotics &amp; Secondary Metabolite Analysis SHell</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/style.less') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/less.js') }}"> </script>
    {% block extra_headers %}{% endblock %}
</head>
<body>
    <div class="row-fluid header">
      <div class="span1 offset2">
        <a href="{{ url_for('new') }}"><img src="{{ url_for('static', filename='images/antismash.png') }}" alt="antiSMASH"></a>
      </div>
      <div class="span5 antismash-title">
        <a href="{{ url_for('new') }}">antibiotics &amp; Secondary Metabolite Analysis SHell</a>
      </div>
      <div class="span4 icons">
        <a href="{{ url_for('new') }}"><img src="{{ url_for('static', filename='images/home.png') }}" alt="home" title="Go to start page"></a>
        <a href="{{ url_for('download') }}"><img src="{{ url_for('static', filename='images/download.png') }}" alt="download" title="Download antiSMASH"></a>
        <a href="{{ url_for('help') }}"><img src="{{ url_for('static', filename='images/help-red.png') }}" alt="help" title="Get help using antiSMASH"></a>
        <a href="{{ url_for('about') }}"><img src="{{ url_for('static', filename='images/about.png') }}" alt="about" title="About antiSMASH"></a>
        <a href="{{ url_for('contact') }}"><img src="{{ url_for('static', filename='images/mail.png') }}" alt="contact" title="Contact the antiSMASH team"></a>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8 offset2" id="error-container">
        {% block error_notices %}{% endblock %}
      </div>
    </div>
    <div class="row-fluid">
      <div class="span2">
        <div class="well well-small">
          Server status: <span id="server-status">unknown</span><br>
          Running jobs: <span id="running-jobs">unknown</span><br>
          Queue length: <span id="queue-length">unknown</span>
        </div>
      </div>
      <div class="span8">
{% block body %}{% endblock %}
      </div>
      <div class="span2" id="notice-container">
        {% block extra_notices %}{% endblock %}
      </div>
    </div>
    <div class="row-fluid footer">
      <div class="span6 org-logos">
        <img src="{{ url_for('static', filename='images/tueblogo.gif') }}">
        <img src="{{ url_for('static', filename='images/ruglogo.gif') }}">
        <img src="{{ url_for('static', filename='images/ucsflogo.gif') }}">
        <img src="{{ url_for('static', filename='images/uomlogo.jpg') }}">
        <img src="{{ url_for('static', filename='images/dziflogo.png') }}">
      </div>
      <div class="span6 copyright well well-small">
        antiSMASH: Rapid identification, annotation and analysis of secondary metabolite
        biosynthesis gene clusters.<br>
        Marnix H. Medema, Kai Blin, Peter Cimermancic, Victor de Jager, Piotr Zakrzewski,
        Michael A. Fischbach, Tilmann Weber, Rainer Breitling &amp; Eriko Takano<br>
        <i>Nucleic Acids Research</i> (2011),
        <a href="http://dx.doi.org/10.1093/nar/gkr466">doi: 10.1093/nar/gkr466</a>.
      </div>
    </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.timer.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/antismash.js') }}"></script>
{% block extra_scripts %}{% endblock %}
<script type="text/javascript">
$(document).ready(function () {
    // Need at least MSIE 9.0 to correctly work with the pipeline, or
    // some other sane browser.
    if( !Modernizr.inlinesvg ) {
        msg =  "You are trying to access antiSMASH using Internet Explorer 8 or lower.\n";
        msg += "The antiSMASH results file format contains features beyond the capacities of this browser.\n";
        msg += "Please use Mozilla Firefox, Apple Safari, Google Chrome, Opera, or a more recent Internet Explorer instead.";
        alert(msg);
    }

    // Internet Explorer likes to cache ajax requests. Go figure...
    $.ajaxSetup({ cache: false });

    display_notices("{{ url_for('current_notices') }}");

    repeatedly_update_status("{{ url_for('server_status') }}");
{% block ready_function %}{% endblock %}
});
</script>
  </body>
</html>
