{% extends 'layout.html' %}
{% block extra_notices %}
{% if error %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error:</strong> {{error}}
</div>
{% endif %}
{% endblock %}
{% block body %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#nucl" data-toggle="tab">Nucleotide input</a></li>
  <li><a href="#prot" data-toggle="tab">Protein input</a></li>
  <li><a href="#job" data-toggle="tab">Results for existing job</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="nucl">
    <div>Search a DNA sequence for secondary metabolite biosynthesis gene clusters:</div>
    <div>
      <div class="control-group">
        <button class="btn btn-inverse" id="dna-sample-input">Load sample input</button>
        <button class="btn btn-inverse" id="dna-sample-output">Open example output</button>
      </div>
      <form class="form-vertical" method="POST" enctype="multipart/form-data">
        <fieldset class="as-form">
          <div class="control-group">
            <div class="controls">
              <input type="email" name="email" id="email" value="{{old_email}}" placeholder="your.email@example.com">
              <span class="help-inline">Email address (optional)</span>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="file" name="seq" id="seq">
              <span class="help-inline">Load a file (GenBank / EMBL / FASTA formats accepted)</span>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="text" name="ncbi" id="ncbi" placeholder="NCBI ACC #">
              <span class="help-inline">Or input NCBI accession number of desired file</span>
            </div>
          </div>
        </fieldset>
        <div id="legacy-control" data-toggle="collapse" data-target=".legacy-options">
          <i class="icon-plus" id="legacy-button"></i>
          <span id="legacy-description">Show</span> deprecated options.
          <a href="#" data-toggle="tooltip" data-placement="right" title="Allows selecting deprecated options"><i class="icon-question-sign"></i></a>
        </div>
        <fieldset class="as-form collapse legacy-options">
          <div class="control-group collapse legacy-options">
            <label class="checkbox">
              <input type="checkbox" name="legacy" id="legacy">
              Run legacy antiSMASH 1 instead of up-to-date version
            </label>
          </div>
        </fieldset>
        <div id="region-control" data-toggle="collapse" data-target=".region">
          <i class="icon-plus" id="region-button"></i>
          Limit prediction to an input region
          <a href="#" data-toggle="tooltip" data-placement="right" title="Set start/end coordinates for analysis"><i class="icon-question-sign"></i></a>
        </div>
        <fieldset class="as-form collapse region">
          <div class="controls collapse region">
            <label for="from">Start at
              <input type="text" name="from" id="from" placeholder="start at bp"></label>
          </div>
          <div class="controls collapse region">
            <label for="to">Stop at
              <input type="text" name="to" id="to" placeholder="stop at bp"></label>
          </div>
        </fieldset>
        <fieldset class="as-form">
          <div class="control-group">
            <label class="checkbox" for="eukaryotic">
              <input type="checkbox" name="eukaryotic" id="eukaryotic">
              DNA of Eukaryotic origin</label>
          </div>
        </fieldset>
        <div id="sec-met-control" data-toggle="collapse" data-target=".sec-met">
          <i class="icon-plus" id="sec-met-button"></i>
          Restrict which of the {{ sec_met_types|length - 1}} supported secondary metabolite types to detect
          <a href="#" data-toggle="tooltip" data-placement="right" title="Restrict which secondary metabolites to detect"><i class="icon-question-sign"></i></a>
        </div>
        <fieldset class="as-form sec-met collapse">
          <div class="control-group collapse sec-met">
{% for met in sec_met_types %}
{% if loop.first %}
            <div class="controls span12 collapse sec-met">
              <label class="checkbox" for="cluster_1"><input type="checkbox" name="cluster_1" id="cluster_1">all {{sec_met_types|length - 1}} cluster types</label>
            </div>
{% else %}
            <div class="controls span3 collapse sec-met">
              <label class="checkbox" for="cluster_{{loop.index}}"><input type="checkbox" name="cluster_{{loop.index}}" id="cluster_{{loop.index}}">{{ met }}</label>
            </div>
{% endif %}
{% endfor %}
          </div>
        </fieldset>
        <div class="control-group as-form">
          <label class="checkbox" for="inclusive">
            <input type="checkbox" name="inclusive" id="inclusive">
            Detect putative gene clusters based on PFAM domain probabilities</label>
        </div>
        <div class="control-group as-form dna_related">
          <label class="control-label" for="trans_table">GenBank translation table used for Glimmer:</label>
          <div class="control">
            <select id="trans_table" name="trans_table">
              <option value="1"> The Standard Code</option>
              <option value="11"> The Bacterial, Archaeal and Plant Plastid Code</option>
              <option value="10"> The Euplotid Nuclear Code</option>
              <option value="13"> The Ascidian Mitochondrial Code</option>
              <option value="12"> The Alternative Yeast Nuclear Code</option>
              <option value="15"> Blepharisma Nuclear Code</option>
              <option value="14"> The Alternative Flatworm Mitochondrial Code</option>
              <option value="22"> Scenedesmus Obliquus Mitochondrial Code</option>
              <option value="16"> Chlorophycean Mitochondrial Code</option>
              <option value="23"> Thraustochytrium Mitochondrial Code</option>
              <option value="3"> The Yeast Mitochondrial Code</option>
              <option value="2"> The Vertebrate Mitochondrial Code</option>
              <option value="5"> The Invertebrate Mitochondrial Code</option>
              <option value="4"> The Mold, Protozoan, and Coelenterate Mitochondrial Code and the Mycoplasma/Spiroplasma Code</option>
              <option value="6"> The Ciliate, Dasycladacean and Hexamita Nuclear Code</option>
              <option value="9"> The Echinoderm and Flatworm Mitochondrial Code</option>
              <option value="21"> Trematode Mitochondrial Code</option>
            </select>
          </div>
          <div class="control">
            <input type="text" name="gene_length" id="gene_length" value="50">
            <span class="help-inline">Glimmer minimal gene length</span>
          </div>
          <div class="control">
            <label class="checkbox" for="all_orfs">
              <input type="checkbox" name="all_orfs" id="all_orfs" checked>
              Run secondary metabolite detection on all possible ORFs
            </div>

        </div>
        <div class="control-group as-form">
          <label class="checkbox" for="smcog">
            <input type="checkbox" name="smcog" id="smcog" checked>
            smCOG analysis for functional prediction and phylogenetic analysis of genes</label>
        </div>
        <div class="control-group as-form">
          <label class="checkbox" for="clusterblast">
            <input type="checkbox" name="clusterblast" id="clusterblast" checked>
            Gene Cluster Blast analysis</label>
        </div>
        <div class="control-group as-form">
          <label class="checkbox" for="subclusterblast">
            <input type="checkbox" name="subclusterblast" id="subclusterblast" checked>
            Subcluster Blast analysis</label>
        </div>
        <div class="control-group">
          <label class="checkbox" for="fullhmmer">
            <input type="checkbox" name="fullhmmer" id="fullhmmer" checked>
            Whole-genome PFAM analysis</label>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="tab-pane" id="prot">
    <div>Analyze one or more amino acid sequences:</div>
    <div>
      <div class="control-group">
        <button class="btn btn-inverse" id="prot-sample-input">Load sample input</button>
        <button class="btn btn-inverse" id="prot-sample-output">Open example output</button>
      </div>
      <form action="{{ url_for('protein') }}" method="POST">
        <div class="control-group">
          <div class="controls">
            <input type="email" name="email" id="email" value="{{old_email}}" placeholder="your.email@example.com">
            <span class="help-inline">Email address (optional)</span>
          </div>
          <div class="controls">
            <input type="text" name="prot-ncbi" id="prot-ncbi" placeholder="NCBI ACC #">
            <span class="help-inline">Input NCBI accession number of desired file</span>
          </div>
          <div class="controls">
            <label for="sequence">or paste a FASTA amino acid sequence here:</label>
            <textarea name="sequence" id="sequence" rows="10" class="input-block-level" >{{old_sequence}}</textarea>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="tab-pane" id="job">
    <div>Display results for an existing job</div>
    <form class="form-inline">
      <label for="jobid">Job ID:
        <input type="text" name="jobid" id="jobid" class="input-xlarge" placeholder="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee">
      </label>
      <button id="display-job" class="btn btn-primary">Display</button>
    </form>
  </div>
</div>
{% endblock %}
{% block ready_function %}
    // Set up button actions
    $('#dna-sample-input').click(function(){
        $('#ncbi').val('Y16952');
        clear_upload();
    });
    $('#dna-sample-output').click(function(){
        window.open('/upload/example/index.html', '_self');
    });
    $('#prot-sample-input').click(function(){
        $('#prot-ncbi').val('ADJ56352');
        clear_sequence();
    });
    $('#prot-sample-output').click(function(){
        window.open('/upload/prot_example/index.html', '_self');
    });

    // Allow the 'all' checkbox to toggle all other clusters
    $('#cluster_1').change(toggle_clusters);
    $('#cluster_1').prop('checked', 'checked');
    toggle_clusters();

    // disable new options for legacy antismash1 jobs
    $('#legacy').change(toggle_legacy);
    toggle_legacy();

    // Show glimmer options if user is trying to upload a fasta file
    $('#eukaryotic').change(show_glimmer_if_needed);

    // Make sure that only NCBI accession# or uploadable file is present.
    $('#seq').change(seq_callback);
    $('#ncbi').change(clear_upload);

    $('#sequence').change(clear_prot_ncbi);
    $('#prot-ncbi').change(clear_sequence);

    show_glimmer_if_needed();

    $('.legacy-options').on('shown', function(){
        $('#legacy-button').removeClass('icon-plus')
            .addClass('icon-minus');
        $('#legacy-description').text('Hide');
    })
    .on('hidden', function() {
        $('#legacy-button').removeClass('icon-minus')
            .addClass('icon-plus');
        $('#legacy-description').text('Show');
    });

    $('.region').on('shown', function(){
        $('#region-button').removeClass('icon-plus')
            .addClass('icon-minus');
    })
    .on('hidden', function() {
        $('#region-button').removeClass('icon-minus')
            .addClass('icon-plus');
    });

    $('.sec-met').on('shown', function(){
        $('#sec-met-button').removeClass('icon-plus')
            .addClass('icon-minus');
    })
    .on('hidden', function() {
        $('#sec-met-button').removeClass('icon-minus')
            .addClass('icon-plus');
    });
    $('a[data-toggle="tooltip"]').tooltip();

    $('#display-job').click(function(){
        var jobid = $('#jobid').val();
        window.open("{{ url_for('display', task_id='') }}" + jobid, "_self");
        return false;
    });

    {% if switch_to %}
    $('.nav-tabs a[href="#{{switch_to}}"]').tab('show');
    {% endif %}

    $('form').submit(verify_form);
{% endblock %}
