{% extends 'layout.html' %}
{% block extra_notices %}
{% if error %}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error:</strong> {{error}}
</div>
{% endif %}
{% endblock %}
{% block body %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#nucl" data-toggle="tab">Nucleotide input</a></li>
  <li><a href="#prot" data-toggle="tab">Protein input</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="nucl">
    <div>Search a DNA sequence for secondary metabolite biosynthesis gene clusters:</div>
    <div>
      <div class="control-group">
        <button class="btn btn-inverse" id="dna-sample-input">Load sample input</button>
        <button class="btn btn-inverse" id="dna-sample-output">Open example output</button>
      </div>
      <form method="POST">
        <div class="control-group as-form">
          <label class="checkbox">
            <input type="checkbox" name="legacy" id="legacy">
            Run legacy antiSMASH 1 instead of up-to-date version
          </label>
        </div>
        <div class="control-group as-form">
          <div class="controls">
            <input type="email" name="email" id="email" value="{{old_email}}" placeholder="your.email@example.com">
            <span class="help-inline">Email address (optional)</span>
          </div>
          <div class="controls">
            <input type="file" name="seq" id="seq">
            <span class="help-inline">Load a file (GenBank / EMBL / FASTA formats accepted)</span>
          </div>
          <div class="controls">
            <input type="text" name="ncbi" id="ncbi" placeholder="NCBI ACC #">
            <span class="help-inline">Or input NCBI accession number of desired file</span>
          </div>
          <div class="controls controls-row">
            <label class="checkbox">
              <input type="checkbox" name="region" id="region">
              Only run prediction on a region
            </label>
            <div id="region-input">
              <input type="text" name="from" id="from" placeholder="start at bp">
              <input type="text" name="to" id="to" placeholder="stop at bp">
            </div>

          </div>
        </div>
        <div class="control-group as-form">
          <label class="checkbox" for="eukaryotic">
            <input type="checkbox" name="eukaryotic" id="eukaryotic">
            DNA of Eukaryotic origin</label>
        </div>
        <table>
          <tr>
            <td>
              <input type="checkbox" name="cluster_1" id="cluster_1" />
              <label class="checkbox inline" for="cluster_1">all</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" name="cluster_2" id="cluster_2" />
              <label class="checkbox inline" for="cluster_2">polyketides (type I)</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_3" id="cluster_3" />
              <label class="checkbox inline" for="cluster_3">polyketides (type II)</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_4" id="cluster_4" />
              <label class="checkbox inline" for="cluster_4">polyketides (type III)</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" name="cluster_5" id="cluster_5" />
              <label class="checkbox inline" for="cluster_5">polyketides (type IV)</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_6" id="cluster_6" />
              <label class="checkbox inline" for="cluster_6">nonribosomal peptides</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_7" id="cluster_7" />
              <label class="checkbox inline" for="cluster_7">terpenes</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" name="cluster_8" id="cluster_8" />
              <label class="checkbox inline" for="cluster_8">lantibiotics</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_9" id="cluster_9" />
              <label class="checkbox inline" for="cluster_9">bacteriocins</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_10" id="cluster_10" />
              <label class="checkbox inline" for="cluster_10">beta-lactams</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" name="cluster_11" id="cluster_11" />
              <label class="checkbox inline" for="cluster_11">aminoglycosides / aminocyclitols</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_12" id="cluster_12" />
              <label class="checkbox inline" for="cluster_12">aminocoumarins</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_13" id="cluster_13" />
              <label class="checkbox inline" for="cluster_13">siderophores</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" name="cluster_14" id="cluster_14" />
              <label class="checkbox inline" for="cluster_14">ectoines</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_15" id="cluster_15" />
              <label class="checkbox inline" for="cluster_15">butyrolactones</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_16" id="cluster_16" />
              <label class="checkbox inline" for="cluster_16">indoles</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" name="cluster_17" id="cluster_17" />
              <label class="checkbox inline" for="cluster_17">nucleosides</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_18" id="cluster_18" />
              <label class="checkbox inline" for="cluster_18">phosphoglycolipids</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_19" id="cluster_19" />
              <label class="checkbox inline" for="cluster_19">melanins</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" name="cluster_20" id="cluster_20" />
              <label class="checkbox inline" for="cluster_20">oligosaccharides</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_21" id="cluster_21" />
              <label class="checkbox inline" for="cluster_21">furans</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_22" id="cluster_22" />
              <label class="checkbox inline" for="cluster_22">homoserine lactones</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" name="cluster_23" id="cluster_23" />
              <label class="checkbox inline" for="cluster_23">thiopeptides</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_24" id="cluster_24" />
              <label class="checkbox inline" for="cluster_24">phenazines</label>
            </td>
            <td>
              <input type="checkbox" name="cluster_25" id="cluster_25" />
              <label class="checkbox inline" for="cluster_25">others</label>
            </td>
          </tr>
        </table>
        <div class="as-form"></div>
        <div class="control-group as-form">
          <label class="checkbox" for="inclusive">
            <input type="checkbox" name="inclusive" id="inclusive">
            Detect clusters based on PFAM domain probabilities</label>
        </div>
        <div class="control-group as-form dna_related">
          <label class="control-label" for="trans_table">GenBank translation table used for Glimmer:</label>
          <select id="trans_table" name="trans_table">
            <option value="1"> The Standard Code</option>
            <option value="none"> Without Glimmer</option>
            <option value="11"> The Bacterial, Archaeal and Plant Plastid Code</option>
            <option value="10"> The Euplotid Nuclear Code</option>
            <option value="13"> The Ascidian Mitochondrial Code</option>
            <option value="12"> The Alternative Yeast Nuclear Code</option>
            <option value="15"> Blepharisma Nuclear Code</option>
            <option value="14"> The Alternative Flatworm Mitochondrial Code</option>
            <option value="22"> Scenedesmus Obliquus Mitochondrial Code</option>
            <option value="16"> Chlorophycean Mitochondrial Code</option>
            <option value="23"> Thraustochytrium Mitochondrial Code</option>
            <option value="3"> The Yeast Mitochondrial Code</option>
            <option value="2"> The Vertebrate Mitochondrial Code</option>
            <option value="5"> The Invertebrate Mitochondrial Code</option>
            <option value="4"> The Mold, Protozoan, and Coelenterate Mitochondrial Code and the Mycoplasma/Spiroplasma Code</option>
            <option value="6"> The Ciliate, Dasycladacean and Hexamita Nuclear Code</option>
            <option value="9"> The Echinoderm and Flatworm Mitochondrial Code</option>
            <option value="21"> Trematode Mitochondrial Code</option>
          </select>
        </div>
        <div class="control-group as-form dna_related">
          <input type="text" name="gene_length" id="gene_length" value="50">
          <span class="help-inline">Glimmer minimal gene length</span>
          <span class="help-block"> Genome configuration used for Glimmer</span>
          <label class="radio inline"><input type="radio" name="genome_conf" id="genome_conf_linear" value="linear" checked>linear</label>
          <label class="radio inline"><input type="radio" name="genome_conf" id="genome_conf_circular" value="circular">circular</label>
        </div>
        <div class="control-group as-form">
          <label class="checkbox" for="smcog">
            <input type="checkbox" name="smcog" id="smcog" checked>
            smCOG analysis for functional prediction and phylogenetic analysis of genes</label>
        </div>
        <div class="control-group as-form">
          <label class="checkbox" for="clusterblast">
            <input type="checkbox" name="clusterblast" id="clusterblast" checked>
            Gene Cluster Blast analysis</label>
        </div>
        <div class="control-group as-form">
          <label class="checkbox" for="subclusterblast">
            <input type="checkbox" name="subclusterblast" id="subclusterblast" checked>
            Subluster Blast analysis</label>
        </div>
        <div class="control-group">
          <label class="checkbox" for="fullhmmer">
            <input type="checkbox" name="fullhmmer" id="fullhmmer" checked>
            Whole-genome PFAM analysis</label>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="tab-pane" id="prot">
    <div>Analyze one or more amino acid sequences:</div>
    <div>
      <div class="control-group">
        <button class="btn btn-inverse" id="prot-sample-input">Load sample input</button>
        <button class="btn btn-inverse" id="prot-sample-output">Open example output</button>
      </div>
      <form action="{{ url_for('protein') }}" method="POST">
        <div class="control-group">
          <div class="controls">
            <input type="email" name="email" id="email" value="{{old_email}}" placeholder="your.email@example.com">
            <span class="help-inline">Email address (optional)</span>
          </div>
          <div class="controls">
            <input type="text" name="prot-ncbi" id="prot-ncbi" placeholder="NCBI ACC #">
            <span class="help-inline">Input NCBI accession number of desired file</span>
          </div>
          <div class="controls">
            <label for="sequence">or paste a FASTA amino acid sequence here:</label>
            <textarea name="sequence" id="sequence" rows="10" class="input-block-level" >{{old_sequence}}</textarea>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block ready_function %}
    // Set up button actions
    $('#dna-sample-input').click(function(){
        $('#ncbi').val('Y16952');
        clear_upload();
    });
    $('#dna-sample-output').click(function(){
        window.open('/upload/example/index.html', '_self');
    });
    $('#prot-sample-input').click(function(){
        $('#prot-ncbi').val('ADJ56352');
        clear_sequence();
    });
    $('#prot-sample-output').click(function(){
        window.open('/upload/prot_example/index.html', '_self');
    });

    // Allow the 'all' checkbox to toggle all other clusters
    $('#cluster_1').change(toggle_clusters);
    $('#cluster_1').prop('checked', 'checked');
    toggle_clusters();

    // Hide the input region limit
    $('#region').change(toggle_region);
    toggle_region();

    // disable new options for legacy antismash1 jobs
    $('#legacy').change(toggle_legacy);
    toggle_legacy();

    // Show glimmer options if user is trying to upload a fasta file
    $('#eukaryotic').change(show_glimmer_if_needed);

    // Make sure that only NCBI accession# or uploadable file is present.
    $('#seq').change(seq_callback);
    $('#ncbi').change(clear_upload);

    $('#sequence').change(clear_prot_ncbi);
    $('#prot-ncbi').change(clear_sequence);

    show_glimmer_if_needed();
    {% if switch_to %}
    $('.nav-tabs a[href="#{{switch_to}}"]').tab('show');
    {% endif %}
{% endblock %}
