{% extends 'layout.html' %}
{% block extra_headers %}
<script type="text/javascript">
    $(document).ready(function () {
        // Need at least MSIE 9.0 to correctly work with the pipeline, or
        // some other sane browser.
        if( $.browser.msie && parseInt($.browser.version) < 9 ) {
            msg =  "You are trying to access antiSMASH using Internet Explorer 8 or lower.\n";
            msg += "The antiSMASH results file format contains features beyond the capacities of this browser.\n";
            msg += "Please use Mozilla Firefox, Apple Safari, Google Chrome, Opera, or Internet Explorer 9 beta instead.";
            alert(msg);
        }

        // Set up button actions
        $('#sample_input').click(function(){
            $('#sequence').text('>nisA\nMSTKDFNLDLVSVSKKDSGASPRITSISLCTPGCKTGALMGCNMKTATCHCSIHVSK');
        });
        $('#sample_output').click(function(){
            window.open('{{ results_path }}/prot_example/index.html', '_self');
        });

       $('#other-link').click(function(){
           window.open($(this).children().first().attr('href'), '_self');
       });
});

</script>
{% include 'server_status_js.html' %}
{% endblock %}
{% block body %}
<div id="service_notices" class="hidden">test</div>
<div id="other-link"><a href="{{url_for('new')}}">Enter nucleotide sequence</a></div>
<h1>Protein sequence input</h1>
    {% if error %}<div class="error">{{ error }}</div>{% endif %}
    <div id="new">
    <div><input type="button" id="sample_input" value="Load sample input" /></div>
    <div><input type="button" id="sample_output" value="Open example output" /></div>
    <form name="seq_upload" id="main_form" action="" method="post" enctype="multipart/form-data">
        <hr />
        <div>
          <input type="text" name="email" id="email" value="{{old_email}}" />
            <label for="email">Email address (optional)</label>
        </div>
        <div>
          <label for="sequence">Paste protein FASTA sequence here</label><br>
          <textarea name="sequence" id="sequence" cols="90" rows="8">{{ old_sequence }}</textarea>
        </div>

        <div>
            <input type="submit" id="submit" value="Submit Query" />
        </div>
    </form>
    <div><br />
         Currently, the server is <span id="server_status">in an unknown status</span>
         with <span id="queue_length">-1</span> job(s) in the work queue.
    </div>
    </div>
{% endblock %}
