<script type="text/javascript">
$(document).ready(function() {
    $.getJSON("{{ url_for('.server_status') }}", function(json) {
        $("#server_status").html(json.status);
        $("#queue_length").html(json.queue_length);
    });
    $.getJSON("{{ url_for('.current_notices') }}", function(json) {
        if (json.notices.length < 1) {
            return;
        }
        $("#service_notices").removeClass('hidden');
        $("#service_notices").html('<ul id="notices_list"></ul>');
        for (var n in json.notices) {
            var notice = json.notices[n];
            $("#notices_list").append('<li id="' + notice.id + '">' +
                                      '<div class="teaser">' + notice.teaser + '</div>' +
                                      '<div class="notice_text">' + notice.text + '</div>' +
                                      '</li>');
        }
    });
});
</script>
